<h1 class="mb-5 text-center">
  New tutorial
</h1>

<%= render "form", tutorial: @tutorial %>

<br>
<div>
  <%= link_to "Back to tutorials", tutorials_path, class: "btn btn-sm btn-outline-dark" %>
</div>
